.git
.gitignore
.github
.venv
venv
__pycache__
**/__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.mypy_cache
.env
.env.*
!.env.example
*.md
!README.md
docker-compose.yml
docker-compose.*.yml
.DS_Store
.idea
.vscode
